
<div id="UsertoOpac">
    <div class="opacVisalinksBlock">
        <b><i class="fa fa-angle-double-right" aria-hidden="true"></i> Finns boken att l&aring;na i: </b>
        <a href="#" class="userToOpacSearch_link batuu-link" data-isbn=""><img src="/Portals/_default/Skins/bb_BATUU/images/ajax-loader.gif" alt="Laddar bokdata"></a><br>
        <a href="#" class="userToOpacBytbibl_link batuu-link" data-isbn=""><i class="fa fa-angle-right" aria-hidden="true"></i> V&auml;lj bibliotek
            att l&aring;na ifr&aring;n</a>
    </div>
    <div id="opacDrpdownBlock" style="display: none;">
        <i class="fa fa-caret-right" aria-hidden="true"></i> <label for="userToOpacval_drp">V&auml;lj biblioteket i </label>
        <select id="userToOpacval_drp">
            <option value="Ale">Ale</option>
        </select>
    </div>
</div>