{{#hb_showalsolikeblock status}}

<div class="col-12"><hr>
        <h4>Andra som gillar den h&auml;r boken gillar &auml;ven dessa b&ouml;cker</h4>      
    </div>
<div class="col-12 d-flex align-items-end">
    
    {{#each this.barnensbibliotek.booksuggests}}        
        <div class=" aj_bb_itm">
            <a href="/katalog_4_2/tabid/1469/Default.aspx?bookid={{this.bookid}}">
                <img src="{{this.imgsrc}}" alt="{{this.title}}" class="img-thumbnail">
            </a>
        </div>           
    {{/each}}
  
</div>
{{/hb_showalsolikeblock}}