<div data-jplist-item>
<div class="name">Andreas Josefsson</div>
</div>
<div data-jplist-item>
<div class="name">Ida-Stina Josefsson</div>
</div>
<div data-jplist-item>
<div class="name">Nils-Magnus Josefsson</div>
</div> 
<div data-jplist-item>
<div class="name">{{testhelper 'Handlebars template'}}</div>
</div> 