<h4 class="text-center mt-2">Fler b&ouml;cker av f&ouml;rfattaren</h4>
<!-- Loop start -->

<div class="">
    <div class="row d-flex align-items-end">
{{#each booklist}}
        <div class="col-lg-4 col-3 p-2">
            <a href="/katalog_4_2/tabid/1469/Default.aspx?bookid={{Bookid}}">
                <img src="{{BokomslagURL}}"
                    alt="{{title}}" class="img-thumbnail">
            </a>
        </div>        
{{/each}}        
    </div>
</div>
